---
import Breadcrumb from "../../components/Breadcrumb.astro";
import Collapsible from "../../components/Collapsible.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { articleApi, sectionApi, themeApi } from "../../lib/api";
import type { Section } from "../../lib/pocketbase";

interface SectionWithTheme {
  section: Section;
  themeId: string;
}
export async function getStaticPaths() {
  const themes = await themeApi.getAll();
  const allSections: any[] = [];

  for (const theme of themes) {
    const sections = await sectionApi.getByTheme(theme.id);
    sections.forEach((section) => {
      allSections.push({
        ...section,
        themeInfo: theme, // Garde l'info du thème
      });
    });
  }

  return allSections.map((section) => ({
    params: { id: section.id },
    props: { section },
  }));
}

// ✅ Récupère la section depuis les props
const { section } = Astro.props;
// ✅ Récupère les articles
const articles = await articleApi.getBySection(section.id);

// const sections = await sectionApi.getByTheme(theme.id);
---

<BaseLayout title={`${section.name} - Compass`}>
  <!-- Breadcrumbs -->
  <Breadcrumb
    url={`/themes/${section.themeInfo.id}`}
    previous={section.themeInfo.name}
    title={section.name}
  />

  <h3 class="text-slate-100 text-3xl text-center font-bold mb-6">
    {section.name}
  </h3>
  <p class="text-slate-300 text-center mb-8">{section.description}</p>

  <!-- Articles -->
  <div class="grid grid-cols-1 gap-4">
    {
      articles.map((article) => (
        <Collapsible title={article.title} style="secondary">
          <div class="p-4 rounded-lg transition-colors">
            {/* <h4 class="text-slate-100 font-semibold mb-2">{article.title}</h4> */}
            <div class="prose prose-invert ">
              <Fragment set:html={article.content} />
            </div>{" "}
          </div>
        </Collapsible>
      ))
    }
  </div>
</BaseLayout>
---
